<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Angular App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container" ng-controller="ArrestController">
        <h3>Adding a Simple Controller</h3> Name:
        <br>
        <input type="text" ng-model="name" /> {{name}}
        <br>

        <ul>
            <li ng-repeat="inmate in inmates | filter: name">
                {{inmate.LastName}} - {{inmate.FirstName}} {{inmate.MiddleName}}
                <img ng-src="{{inmate.ImageThumb}}" />
                <ul>
                    <li ng-repeat="arrest in inmate.Arrests">
                        {{arrest.ArrestDate}}
                    </li>
                    <li ng-repeat="charge in inmate.Charges">
                        {{charge.StatuteCode}} - {{charge.StatuteDesc}}
                    </li>

            </li>
            </ul>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>