<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>Angular App</title>
</head>

<body>

  <div class="container" ng-controller="ArrestController">
    <h3>Adding a Simple Controller</h3>
    Name:
    <br>
    <input type="text" ng-model="name" /> {{name}}
    <br>
    
    <ul>
      <li ng-repeat="inmate in inmates | filter: name">
        {{inmate.LastName}}, {{inmate.FirstName}} {{inmate.MiddleName}}
        <img ng-src="{{inmate.ImageThumb}}"/>
        <ul>
          <li ng-repeat="arrest in inmate.Arrests">
            {{arrest.ArrestDate}}
          </li>
          
          <li ng-repeat="charge in inmate.Charges">
            {{charge.StatuteCode}} - {{charge.StatuteDesc}}
          </li>

        </ul>
      </li>
    </ul>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>